<section id="about-us"  class="pb-16 bg-white z-20 "  >
    <div class="container mx-auto ">
      
      <div class="flex flex-col md:flex-row justify-center items-center" >
        <div class="my-auto  justify-center ">
        
          <p class="text text-gray-600 leading-loose text-center " style="height: 25em; background-image: url(../assets/img/safari.jpg); background-size: cover; border-radius: 20px; " data-aos="fade-up-right" data-aos-duration="3000" data-aos-delay="200">
            
           <span style="visibility: hidden;"> Royal safaris is a leading tour operator in Kenya!
We are known to handle outbound and inbound incentive tours, events and conferences in accordance to customer specification and requirements.</span>
            
            </p>
           
        </div>
        <div class="my-auto  justify-center  " data-aos="fade-up-left" data-aos-duration="3000" data-aos-delay="200" >
          <h2 class="text-5xl font-semibold  text-center mb-4 txt sm:pt-8" >Looking for an Adventure?</h2>
          <p class="text-2xl text-gray-600 p-8 leading-loose text-center " >
            Royal safaris is a leading tour operator in Kenya!
We are known to handle outbound and inbound incentive tours, events and conferences in accordance to customer specification and requirements.
            
            </p>
           
        </div>
      </div>
    </div>
  </section>
  