<div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="../assets/img/landing.jpg" style="width:100%">
    <div class="text animate__animated animate__fadeIn" style="animation-duration: 3s;">
      <div class="ms-10">
        <h3 class="text-8xl font-semibold txt " >Samburu Package</h3>
        <h4 class="text-6xl mt-4 tracking-wider sm:text-2xl sm:tracking-tight">1 Day Game drive through the vast <br> Samburu National Reserve</h4>
        <div class="flex">
          <button class=" font-bold py-2 px-4 mt-8  bt rounded-full " >
            Book Now
          </button>
          <button class=" font-bold ms-8 py-2 px-4 mt-8  bt rounded-full " >
            Explore Packages
          </button>
        </div>
       
      </div>
    </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="../assets/img/impala.jpg" style="width:100%">
    <div class="text animate__animated animate__fadeIn" style="animation-duration: 3s;">
      <div class="ms-10">
        <h3 class="text-8xl font-semibold txt">Kisimani Getaway Package</h3>
        <h4 class="text-6xl mt-4 tracking-wider sm:text-2xl">1 Day Game drive through <br> the vast Samburu National Reserve</h4>
        <div class="flex">
          <button class=" text-white font-bold py-2 px-4 mt-8  bt rounded-full " >
            Book Now
          </button>
          <button class=" text-white font-bold ms-8 py-2 px-4 mt-8  bt rounded-full " >
            Explore Packages
          </button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="../assets/img/sunset.jpg" style="width:100%">
    <div class="text animate__animated animate__fadeIn" style="animation-duration: 3s;">
      <div class="ms-10">
        <h3 class="text-8xl font-semibold txt">Ngaredare Package</h3>
        <h4 class="text-6xl mt-4 tracking-wider sm:text-2xl">Get into an adeventure with us through <br> the beautiful landscapes of Ngaredare </h4>
        <div class="flex">
          <button class=" text-white font-bold py-2 px-4 mt-8  bt rounded-full " >
            Book Now
          </button>
          <button class=" text-white font-bold ms-8 py-2 px-4 mt-8  bt rounded-full " >
            Explore Packages
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<br>

<div style="text-align:center; visibility: hidden;">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>